.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 92px auto 24px;
}

.footer__copyright {
  font-family: "Inter-Regular", sans-serif;
  font-size: 14px;
  line-height: 1.1;
}
