.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  max-width: 255px;
  margin: 34px auto 0px;
  padding-bottom: 91px;
}

.header__lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__title {
  font-family: "Inter-Black", sans-serif;
  font-size: 96px;
  line-height: 1.1;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
}

.header__subtitle {
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 64px;
}

.header__image {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    max-width: 188px;
    padding-bottom: 50px;
  }

  .header__title {
    max-width: 228px;
    font-size: 40px;
    line-height: 1;
  }

  .header__subtitle {
    font-size: 16px;
    line-height: 1.1;
    max-width: 288px;
    padding-top: 16px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header__title {
    max-width: 530px;
    font-size: 75px;
    line-height: 1;
  }
}
